@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  background-color: #0d526a;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.title {
  background-color: #000;
  margin: 0;
  padding: 0.5em;
}

.burp {
  border: 2px;
  border-style: dashed;
}

.numbers {
  border: 2px;
  border-style: dashed;
}

.calories {
  border: 2px;
  border-style: dashed;
}

.girl {
  border: 2px;
  border-style: dashed;
}

.avoid {
  border: 2px;
  border-style: dashed;
}

.title0 {
  fill: #fff;
}

.title1 {
  fill: #006c38;
  animation: slide 500ms linear;
}

@keyframes slide {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(7px, 0);
  }
}

.title2 {
  fill: #c4d82e;
}

.title3 {
  fill: none;
  stroke: #c4d82e;
  stroke-width: 3;
  stroke-miterlimit: 10;
  animation: scale 500ms linear;
}

@keyframes scale {
  0% {
    transform-origin: center center;
    transform: scale(.5);
  }
  100% {
    transform-origin: center center;
    transform: scale(1);
  }
}

.title4 {
  fill: #7fbb42;
}

.st0 {
  opacity:0.88;
  fill:#FFFFFF;
  stroke:#FFFFFF;
  stroke-miterlimit:10;
  enable-background:new;
}

.st1 {
  fill:#7FBB42;
}

.st2 {
  fill:#FFFFFF;
}

.st3 {
  fill:#FFFFFF;
  stroke:#FFFFFF;
  stroke-miterlimit:10;
}

.st4 {
  fill:#C4D82E;
  stroke:#C4D82E;
  stroke-miterlimit:10;
}

.st5 {
  fill:#009B9B;
  stroke:#009B9B;
  stroke-miterlimit:10;
}

.st6 {
  fill:#009B9B;
}

.green {
  fill: #0d526a;
  transition: all 500ms linear;
}

.green:hover {
  fill: #7fbb42;
}

.number0 {
  fill: #fff;
}

.number1 {
  fill: #008743;
}

.number2 {
  fill: #006c38;
}

.number3 {
  fill: #c4d82e;
}

.number4 {
  fill: #51ba83;
  stroke: #51ba83;
  stroke-miterlimit: 10;
}

.number5 {
  fill: #c4d82e;
  stroke: #c4d82e;
  stroke-miterlimit: 10;
}

.number6 {
  fill: #fff;
  stroke: #fff;
  stroke-miterlimit: 10;
}

.coke {
  opacity: 0;
  transition: all 300ms linear;
}

.wine {
  opacity: 0;
  transition: all 300ms linear;
}

.liq {
  opacity: 0;
  transition: all 300ms linear;
}

.pint {
  opacity: 0;
  transition: all 300ms linear;
}

.marga {
  opacity: 0;
  transition: all 300ms linear;
}

.pino {
  opacity: 0;
  transition: all 300ms linear;
}

.see {
  opacity: 1;
}

.cals0 {
  fill:#FFFFFF;
}

.muffin {
  transform: translateX(400px);
}

.cals1 {
  fill:#51BA83;
}

.cals2 {
  fill:#C4D82E;
}

.cals3 {
  fill:#C4D82E;
  stroke:#C4D82E;
  stroke-width: 1.097974;
  stroke-miterlimit:10;
}

.cals4 {
  fill:#C4D82E;
  stroke:#C4D82E;
  stroke-miterlimit:10;
}

.cals5 {
  fill:none;
}

.cals6 {
  fill:#0D526A;
  stroke:#C4D82E;
  stroke-miterlimit:10;
}

.cals7 {
  fill:#009B9B;
  stroke:#009B9B;
  stroke-miterlimit:10;
}

.girl0 {
  fill:#FFFFFF;
}

.girl1 {
  fill:none;
}

.girl2 {
  fill:none;
  stroke:#FFFFFF;
  stroke-miterlimit:10;
}

.girl3 {
  fill:#FFFFFF;
  stroke:#FFFFFF;
  stroke-width:0.3629;
  stroke-miterlimit:10;
}

.girl4 {
  fill:#FFFFFF;
  stroke:#FFFFFF;
  stroke-width:0.3983;
  stroke-miterlimit:10;
}

.girl5 {
  fill:#C4D82E;
  stroke:#C4D82E;
  stroke-width:8.680066 e-02;
  stroke-miterlimit:10;
}

.girl6 {
  fill:#FFFFFF;
  stroke:#FFFFFF;
  stroke-width:0.3404;
  stroke-miterlimit:10;
}

.girl7 {
  fill:#FFFFFF;
  stroke:#FFFFFF;
  stroke-width:0.3529;
  stroke-miterlimit:10;
}

.girl8 {
  fill:#51BA83;
}

.avoid0 {
  fill: #fff;
}

.avoid1 {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
}

.avoid2 {
  fill: none;
}

.avoid3 {
  fill: #c4d82e;
}

.drop {
  animation: drip 2s cubic-bezier(1,0,.91,.19) infinite;
}


@keyframes drip {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100px);
    }
}
